trigger:
- master

pool:
  name: 'agent'

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 
       git clone https://github.com/IntelliqDevops/maven.git
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 
       cd /home/azureuser/myagent/_work/2/s;mvn package
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      cat <<EOF > Dockerfile
      FROM tomee:latest
      COPY /webapp/target/webapp.war /usr/local/tomee/webapps/myapp.war
      EOF
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'docker build -t myapp .'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'docker build -t intelliq3031.azurecr.io/javaapp .'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'docker push intelliq3031.azurecr.io/javaapp'
